.contact-section {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 160px;
    padding-bottom: 160px;
    max-width: 1440px;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-title {
  @include media(desktop) {
  }
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #2e2e2e;

  @include media(desktop) {
    font-size: 20px;
  }
}
