.gameplay-section {
}

.gameplay-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 160px;
    padding-bottom: 163px;
    max-width: 1440px;
    position: relative;
  }
}

.gameplay-container {
  @include media(desktop) {
  }
}

.gameplay-title {
  @include media(desktop) {
  }
}

.gameplay-content-wrapper {
  @include media(desktop) {
    display: flex;
    align-items: start;
    justify-content: end;
    gap: 237px;
  }
}

.gameplay-img-wrapper {
  margin-bottom: 20px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.gameplay-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
  }
}

.gameplay-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2e2e;

  @include media(desktop) {
    max-width: 630px;
  }
}

.gameplay-text-span {
  font-weight: 700;
}

.gameplay-desk-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 135px;
    left: 445px;
  }
}
