.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 149px;
  padding-bottom: 443px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 251px;
    padding-bottom: 338px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  color: #477c55;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 62px;
    text-align: left;
    margin-bottom: 42px;
  }
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.5;
  text-align: center;
  color: #2e2e2e;

  @include media(desktop) {
    font-size: 28px;
    text-align: left;
    max-width: 542px;
    margin-bottom: 0;
  }
}
