.mechanics-section {
  background: #d5ceb0;
  scroll-margin-top: 60px;

  @include media(desktop) {
    background: none;
    padding-top: 25px;
    padding-bottom: 57px;
    scroll-margin-top: 140px;
  }
}

.mechanics-bg-wrapper {
  padding-top: 27px;
  padding-bottom: 80px;

  @include media(desktop) {
    background: #d5ceb0;
    padding-top: 32px;
    padding-bottom: 93px;
  }
}

.mechanics-container {
  @include media(desktop) {
  }
}

.mechanics-content-wrapper {
  @include media(desktop) {
    position: relative;
  }
}

.mechanics-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @include media(desktop) {
    margin: 0;
    position: absolute;
    top: -58px;
    right: 43px;
  }
}

.mechanics-list {
  display: flex;
  flex-direction: column;
  gap: 22px;

  @include media(desktop) {
    margin-left: 108px;
  }
}

.mechanics-list-item {
  display: flex;
  align-items: center;
  gap: 8px;

  @include media(desktop) {
  }
}

.mechanics-icon {
  min-width: 24px;

  @include media(desktop) {
  }
}

.mechanics-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2e2e;

  @include media(desktop) {
  }
}
