.privacy-body {
  .header-bg-wrapper {
    background-image: none;
  }
}

.policy-section {
  background: linear-gradient(to right, #e5ebdd 0%, #c8d3c2 100%);
  padding-top: 126px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 137px;
    padding-bottom: 100px;
  }
}

.policy-main-title {
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  color: #477c55;
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 40px;
  }
}

.policy-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2e2e;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2e2e;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2e2e;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-span {
  text-decoration: underline;
}

.policy-link {
  text-decoration: underline;
  word-wrap: break-word;
}
