.screenshots-section {
  @include media(desktop) {
  }
}

.screenshots-cta-bg-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
    background-image: url(../img/cta/cta-light-desk.png);
    background-repeat: no-repeat;
    background-position: top 380px right;
    background-size: auto;
  }
}

.screenshots-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 150px;
    max-width: 1440px;
  }
}

.screenshots-container {
  padding-left: 0;
  padding-right: 0;
}

.screenshots-title {
  @include media(desktop) {
    padding-left: 80px;
  }
}

.screenshots-swiper-container {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.screenshots-swiper-container.show {
  visibility: visible;
}

.screenshots-swiper-wrapper {
  @include media(desktop) {
  }
}

.screenshots-slide {
  width: 100%;
  max-width: 335px;

  @include media(desktop) {
    max-width: 522px;
  }
}

.screenshots-img {
  @include media(desktop) {
  }
}

.controls {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.1);

      .arrow-icon {
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      transform: none;
    }
  }
}

.arrow-icon {
}
