<section class="section faq-section" id="faq">
  <div class="faq-bg-wrapper">
    <div class="container faq-container">
      <h2 class="section-title faq-title">FAQ</h2>
      <ul class="faq-list">
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="42" height="42">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
            <span class="faq-btn-text">How many players can participate?</span>
          </button>
          <p class="faq-bottom-text">
            We keep the groups pretty small - we'll let you know exactly how
            many when you book.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="42" height="42">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
            <span class="faq-btn-text">Are the rooms scary?</span>
          </button>
          <p class="faq-bottom-text">
            We're not gonna jump out and yell 'boo!' - it's more like that
            feeling when you know something's really, really wrong. No cheap
            jump scares here.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="42" height="42">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
            <span class="faq-btn-text"
              >Do the rooms have multiple endings?</span
            >
          </button>
          <p class="faq-bottom-text">
            Yes. What you choose in there actually matters - you might get a
            completely different ending than the last group.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="42" height="42">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
            <span class="faq-btn-text"
              >Is previous escape room experience required?</span
            >
          </button>
          <p class="faq-bottom-text">
            No. Doesn't matter if you've never done an escape room before or if
            you're a total pro - we've got you covered.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="42" height="42">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
            <span class="faq-btn-text">What is the duration of the game?</span>
          </button>
          <p class="faq-bottom-text">
            Each session lasts approximately 60 minutes.
          </p>
        </li>
        <li class="faq-list-item">
          <button class="faq-top-text-btn">
            <span class="faq-toggle-symbol"
              ><svg class="faq-icon" width="42" height="42">
                <use href="./img/sprite.svg#icon-arrow"></use></svg
            ></span>
            <span class="faq-btn-text"
              >Is the content suitable for children?</span
            >
          </button>
          <p class="faq-bottom-text">
            We'd say 14 and up - there's some heavy stuff in there that younger
            kids might not be ready for.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
