<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <h2 class="section-title gameplay-title">Gameplay Overview</h2>
      <div class="gameplay-content-wrapper">
        <div class="gameplay-img-wrapper">
          <picture>
            <source
              srcset="./img/gameplay/gameplay-img-desk.png"
              media="(min-width: 1440px)"
              width="305"
              height="304" />
            <source
              srcset="./img/gameplay/gameplay-img-mob.png"
              width="335"
              height="333" />
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img-mob.png"
              alt="Screenshot of the game"
              width="335"
              height="333"
              loading="lazy"
          /></picture>
        </div>
        <p class="gameplay-text">
          Each level begins with several geometric shapes.
          <span class="gameplay-text-span">The goal is</span> to fully fill the
          playing field. The shapes actually shift a bit as you drag them
          around. Long tap locks a shape in place.
        </p>
        <img
          class="gameplay-desk-img"
          src="./img/gameplay/gameplay-desk-img.png"
          alt="Screenshot of the game"
          width="502"
          height="220"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
