<section class="section mechanics-section" id="mechanics">
  <div class="mechanics-bg-wrapper">
    <div class="container mechanics-container">
      <div class="mechanics-content-wrapper">
        <h2 class="section-title rooms-title">Core Mechanics</h2>
        <picture>
          <source
            srcset="./img/mechanics/mechanics-img-desk.png"
            media="(min-width: 1440px)"
            width="435"
            height="416" />
          <source
            srcset="./img/mechanics/mechanics-img-mob.png"
            width="335"
            height="320" />
          <img
            class="mechanics-img"
            src="./img/mechanics/mechanics-img-mob.png"
            alt="Screenshot of the game"
            width="335"
            height="320"
            loading="lazy"
        /></picture>
        <ul class="mechanics-list">
          <li class="mechanics-list-item">
            <svg class="mechanics-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-finger"></use>
            </svg>
            <p class="mechanics-item-text">Drag: move and position shapes</p>
          </li>
          <li class="mechanics-list-item">
            <svg class="mechanics-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-finger"></use>
            </svg>
            <p class="mechanics-item-text">
              Shape transformation occurs during movement
            </p>
          </li>
          <li class="mechanics-list-item">
            <svg class="mechanics-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-finger"></use>
            </svg>
            <p class="mechanics-item-text">
              Long tap: fix the shape, preventing further changes
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
