<div class="context-menu">
  <nav class="context-nav">
    <a class="context-logo-link" href="./">
      <img
        class="header-logo-img"
        src="./img/header/header-logo.png"
        alt="Logo"
        width="128"
        height="31"
    /></a>
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay">Gameplay</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#mechanics"
          >Core Mechanics</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#progression"
          >Progression</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>
