<section class="section progression-section" id="progression">
  <div class="progression-bg-wrapper">
    <div class="container progression-container">
      <h2 class="section-title progression-title">Progression & Rewards</h2>
      <div class="progression-content-wrapper">
        <div class="progression-img-wrapper">
          <picture>
            <source
              srcset="./img/progression/progression-img-desk.png"
              media="(min-width: 1440px)"
              width="414"
              height="236" />
            <source
              srcset="./img/progression/progression-img-mob.png"
              width="375"
              height="214" />
            <img
              class="progression-img"
              src="./img/progression/progression-img-mob.png"
              alt="Screenshot of the game"
              width="375"
              height="214"
              loading="lazy"
          /></picture>
        </div>
        <p class="progression-text progression-top-text">
          As you progress, the game slowly opens up visually. Completing levels
          unlocks new background designs and carefully curated color palettes,
          keeping the experience fresh without breaking its calm rhythm.
        </p>
        <p class="progression-text progression-bottom-text">
          There are no points or pressure — just a growing sense of completion,
          mastery, and visual reward for attentive play.
        </p>
      </div>
    </div>
  </div>
</section>
